.img {
    width:500px;
    height:330px;
    float:left;
    text-align:center;
}

ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

ol {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.line {
    border: solid gray;
    width: 70%;
    text-align: center;
}