body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    margin: 0px;
    padding: 15px;
    background: #e1e1e1;
  }

  .travel {
    text-decoration:none;
    color:black;
  }

  .menu {
    position: relative;
    height: 44px;
    background: #2b2f3a;
    width: 70%;
    margin: 0 auto;
  }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  .menu > ul {
    position: relative;
    display: block;
    background: #2b2f3a;
    width: 100%;
    z-index: 500;
  }
  .menu:after, .menu > ul:after {
    display: block;
    visibility: hidden;
  }
  .menu > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .menu ul li a {
    display: block;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
  }
  .menu > ul > li > a {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.25s ease-out;
  }
  .menu > ul > li.sub > a {
    padding-right: 32px;
  }
  .menu li.sub::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  .menu > ul > li.sub::after {
    right: 10px;
    top: 20px;
    border: 5px solid transparent;
    border-top-color: #7a8189;
  }
  .menu ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    opacity: 0;
    transition: opacity .3s ease, top .25s ease;
  }
  .menu ul ul ul {
    top: 37px;
    padding-left: 5px;
  }
  .menu ul ul li {
    position: relative;
  }
  .menu > ul > li:hover > ul {
    left: auto;
    top: 44px;
    opacity: 1;
  }
  .menu ul ul li:hover > ul {
    left: 190px;
    top: 0;
    opacity: 1;
  }
  .menu ul ul li a {
    width: 150px;
    height:auto;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
    font-size: 14px;
    color: #9ea2a5;
    background: #ffffff;
  }
  .menu ul ul li:hover > a {
    background: #f2f2f2;
    color: #8c9195;
  }
  .menu > ul > li > ul::after {
    content: '';
    border: 6px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #ffffff;
    position: absolute;
    top: -12px;
    left: 30px;
  }
  .menu.align-right > ul > li > ul::after {
    left: auto;
    right: 30px;
  }
  .menu ul ul li.sub::after {
    border: 4px solid transparent;
    border-left-color: #9ea2a5;
    right: 10px;
    top: 12px;
    transition: all .2s ease;
  }
  .menu.align-right ul ul li.sub::after {
    border-left-color: transparent;
    border-right-color: #9ea2a5;
    right: auto;
    left: 10px;
  }
  .menu ul ul li.sub:hover::after {
    border-left-color: #ffffff;
    right: -5px;
    transform: rotateY(180deg);
  }
  .menu.align-right ul ul li.sub:hover::after {
    border-right-color: #ffffff;
    border-left-color: transparent;
    left: -5px;
    transform: rotateY(180deg);
  }

  .a {
    display:scroll;
    position:fixed;
    bottom:10px;
    right:10px;
}